{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Additional order{% endblock %}

{% block body %}

<main class="container container-small w-50 h-50">
    <div class="container-sm text-center">
        <form action="" method="POST">
            {% csrf_token %}
            {% if trucks %}
            <h3>Список транспорта которому можно добавить заявку в качестве дополнительной:</h3>
            {{ form|crispy }}
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="submit" class="btn btn-primary">Добавить</button>
                <a type="button" class="btn btn-secondary" href="{% url 'orders' %}">Вернуться</a>
            </div>
            {% else %}
            <h2>К сожалению транспорт которому можно добавить заявку в качестве дополнительной отсутсвует</h2>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a type="button" class="btn btn-secondary" href="{% url 'orders' %}">Вернуться</a>
            </div>
            {% endif %}
        </form>
    </div>
</main>

{% endblock %}
