{%extends 'base.html'%}
{% load crispy_forms_tags %}

{% block title %}Cargo transportation{% endblock %}

{% block body %}

{% if user.is_authenticated  %}
<div class="row">
    <div class="col-md-3">
        <br>
        <div class="badge bg-secondary text-wrap">
            Текущая дата: {{date_time_now}}
        </div>
        <br>
        <br>
        <div id="ml_17d8bed2">
            <div style="padding:0;margin:0;" id="ml_17d8bed2_i" v='1.1'
                 a='{"t":"g7","lang":"ru","ids":["1327"],"a_br_c":"#546E7A","a_n_bg":"#FFFFFF","a_n_c":"#000000","a_itm_bg":"#546E7A","a_itm_c":"#FFFFFF"}'></div>
            <div id="ml_17d8bed2_c" style="padding:0;margin:0;padding:7px 5px;"><img
                    src="https://meteolabs.by/assets/img/logo_z_b.svg"
                    style="width:15px;opacity:0.7;margin-right:5px;position:relative;top:1px;display:inline-block;"><a
                    href="https://meteolabs.by/погода_минск/неделя/"
                    style="color:grey;font-size:12px;text-decoration:none;" target="_blank" id="ml_17d8bed2_u">Погода на
                неделю</a></div>
        </div>
        <script async src="https://app.meteolabs.by/js/?id=ml_17d8bed2"></script>
    </div>
    <div class="col-md-5">
        <img src="https://translogist.su/7_dorog_sem_dorog.png" class="img-fluid">
    </div>
    <div class="col-md-4"><br>
        <div class="row">
            <table class="table table-info">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Курсы валют на сегодня:</th>
                    <th scope="col">BYR</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>{{exchange_data.USD.1}} USD</td>
                    <td>{{exchange_data.USD.0}}</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>{{exchange_data.EUR.1}} EUR</td>
                    <td>{{exchange_data.EUR.0}}</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>{{exchange_data.RUB.1}} RUB</td>
                    <td>{{exchange_data.RUB.0}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <br>
            <img src="https://minsk.gov.by/images/org/8643/20220112-egr.jpg" class="img-fluid">
            <p>Получение информаиции о субъекте хозяйствования из ЕГР Республикви Беларусь:</p>
             <form method="post">
                    {% csrf_token %}
                   {{ form|crispy }}
            <br>
             <button type="submit" class="btn btn-primary">Получить информацию</button>



                </form>
        </div>


    </div>
</div>
<div class="row">
    <div class="col-fluid text-center">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle"
                     src="https://egr.gov.by/egrn/images/456.png"
                     alt="Generic placeholder image" width="140" height="140">
                <h2>Информация из ЕГР Республики Беларусь</h2>
                <p>Получение общих данных о субъекте хозяйствования. API получения данных из Единого государственного
                    регистра юридических лиц и индивидуальных предпринимателей.</p>
                <p><button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#EGR"
                            data-bs-whatever="@mdo">Просмотреть детали »</button></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle"
                     src="https://komplemir.by/templates/corporate/site/img/buttom_calculation.png"
                     alt="Generic placeholder image" width="140" height="140">
                <h2>Расчет времени и стоимости доставки</h2>
                <p>Автоматический расчет времени и стоимости поездки на основании данных о расстоянии полученных при
                    помощи OSM API — бесплатной географической карты мира.</p>
                <p><button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#Calc"
                            data-bs-whatever="@mdo">Просмотреть детали »</button></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle"
                     src="https://manjur-express.ru/uploads/images/bimages/1603462626.png"
                     alt="Generic placeholder image" width="140" height="140">
                <h2>Отслеживание свободного транспорта и грузов</h2>
                <p>Программа позволяет отслеживать выполняемые заявки, и заявки которые нходятся в очереди. При
                    регистрации заявок предлагаются только свободные ТС.</p>
                <p><button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#Free"
                            data-bs-whatever="@mdo">Просмотреть детали »</button></p>
            </div><!-- /.col-lg-4 -->



            <div class="modal fade" id="EGR" tabindex="-1" aria-labelledby="EGRLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="EGRLabel">Детальная информация:</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Получение общих данных о субъекте хозяйствования. API получения данных из Единого государственного регистра юридических лиц и индивидуальных предпринимателей.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="Calc" tabindex="-1" aria-labelledby="CalcLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="CalcLabel">Детальная информация:</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Автоматический расчет времени и стоимости поездки на основании данных о расстоянии полученных при
                    помощи OSM API — бесплатной географической карты мира.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="Free" tabindex="-1" aria-labelledby="FreeLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="FreeLabel">Детальная информация:</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Программа позволяет отслеживать выполняемые заявки, и заявки которые нходятся в очереди. При
                    регистрации заявок предлагаются только свободные ТС.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <br>
        <br>
    </div>
</div>

{% else %}
<div class="d-flex justify-content-center">
    <br>
    <br>
    <br>
    <br>
</div>
<div class="d-flex justify-content-center">
    <img src="https://translogist.su/7_dorog_sem_dorog.png" class="img-fluid">
</div>
<div class="d-flex justify-content-center">
    <br>
    <br>
    <h1 class="h3 mb-3 font-weight-normal">Пожалуйсто войдите в учетную запись</h1>
</div>
<div class="d-flex justify-content-center">

    <p>Если Вы не располагаете сведениями для входа обратитесь к администратору</p>
</div>
<div class="d-flex justify-content-center">
    <a class="btn btn-primary" href="{% url 'login'%}?next={{request.path}}">Войти</a>
</div>
{% endif %}

{% endblock %}
