{%extends 'base.html'%}

{% block title %}Reports{% endblock %}

{% block reports %}
{% endblock %}


{% block body %}
{% if text %}
<br>
<br>
<br>
<div class="container text-center">
    <p class="text-secondary">
    <h1 class="display-4">{{text}}</h1>
    </p>
    <br>
    <br>
    <br>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://cdn.semrush.com/company/static/company/custom_report/create-custom-report.e52150368a44.svg"
                 class="rounded-circle">
            <br>
            <br>
        </div>
        <div class="col">
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reports' type='number' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round" class="feather feather-file-text" aria-hidden="true">
                            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                            <polyline points="14 2 14 8 20 8"></polyline>
                            <line x1="16" y1="13" x2="8" y2="13"></line>
                            <line x1="16" y1="17" x2="8" y2="17"></line>
                            <polyline points="10 9 9 9 8 9"></polyline>
                        </svg>
                        Колличество грузоперевозок по месяцам
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reports' type='rubles' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round" class="feather feather-file-text" aria-hidden="true">
                            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                            <polyline points="14 2 14 8 20 8"></polyline>
                            <line x1="16" y1="13" x2="8" y2="13"></line>
                            <line x1="16" y1="17" x2="8" y2="17"></line>
                            <polyline points="10 9 9 9 8 9"></polyline>
                        </svg>
                        Объем (в рублях) грузоперевозок по месяцам
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reports' type='period' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round" class="feather feather-file-text" aria-hidden="true">
                            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                            <polyline points="14 2 14 8 20 8"></polyline>
                            <line x1="16" y1="13" x2="8" y2="13"></line>
                            <line x1="16" y1="17" x2="8" y2="17"></line>
                            <polyline points="10 9 9 9 8 9"></polyline>
                        </svg>
                        Распределение грузоперевозок по направлениям за отчетный период
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

{% endif%}
{% if not change_tmpl and data  %}
<div class="bd-example">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Январь</th>
            <th scope="col">Февраль</th>
            <th scope="col">Март</th>
            <th scope="col">Апрель</th>
            <th scope="col">Май</th>
            <th scope="col">Июнь</th>
            <th scope="col">Июль</th>
            <th scope="col">Август</th>
            <th scope="col">Сентябрь</th>
            <th scope="col">Октябрь</th>
            <th scope="col">Ноябрь</th>
            <th scope="col">Декабрь</th>
            <th scope="col">Год</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data%}
        <tr>
            {% for val in row %}
            <td>{{val}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Сохранить отчет</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-plus-circle" aria-hidden="true">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="12" y1="8" x2="12" y2="16"></line>
                        <line x1="8" y1="12" x2="16" y2="12"></line>
                    </svg>
                </a>
            </h6>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>
{% endif %}

{% if change_tmpl and data  %}
<div class="container text-center">
    <br>
    <br>
    <h1 class="display-6">Отчетный период: 12.11.2021</h1>
</div>

<div class="bd-example">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Направление</th>
            <th scope="col">Колличество</th>
        </tr>
        </thead>
        <tbody>
        {% for key, val in data.items %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{key}}</td>
            <td>{{val}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Сохранить отчет</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-plus-circle" aria-hidden="true">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="12" y1="8" x2="12" y2="16"></line>
                        <line x1="8" y1="12" x2="16" y2="12"></line>
                    </svg>
                </a>
            </h6>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>
{% endif %}

{% endblock %}
