{%extends 'base.html'%}
{% load crispy_forms_tags %}

{% block title %}Freight transport{% endblock %}
{% block body %}
<div class="row">

  <div class="col">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
    <div class="d-flex align-items-center flex-shrink-0 p-3 text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-5 fw-semibold"><strong class="mb-1">Свободный транспорт:</strong></span>
    </div>
    <div class="list-group list-group-flush border-bottom scrollarea">
      {% for truck in free_transport %}
      <a href="{% url 'edit-transport' truck_id=truck.id %}" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">{{truck.brand}} {{truck.model}} рег.знак: {{truck.reg_number}}</strong>
          <small>Грузоподъемность: {{truck.carrying}}</small>
        </div>
        <div class="col-10 mb-1 small">
            Прицеп: {% if truck.trailer%} {{truck.trailer.trailer_type}} {{truck.trailer.reg_number}} {% else %} без прицепа {% endif %}
            <br>Закрепленные водители:<br>
            {% for driver in truck.drivers.all%}
                - {{driver.name}} {{driver.surname}}
            {%endfor%}
            <br>

        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  </div>

  <div class="col">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
    <div class="d-flex align-items-center flex-shrink-0 p-3 text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-5 fw-semibold"><strong class="mb-1">Транспорт осуществляющий грузоперевозку:</strong></span>
    </div>
    <div class="list-group list-group-flush border-bottom scrollarea">
      {% for truck in busy_transport %}
      <a href="{% url 'edit-transport' truck_id=truck.id %}" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">{{truck.brand}} {{truck.model}} рег.знак: {{truck.reg_number}}</strong>
          <small>Грузоподъемность: {{truck.carrying}}</small>
        </div>
        <div class="col-10 mb-1 small">
            Прицеп: {% if truck.trailer%} {{truck.trailer.trailer_type}} {{truck.trailer.reg_number}} {% else %} без прицепа {% endif %}
            <br>Закрепленные водители:<br>
            {% for driver in truck.drivers.all%}
                - {{driver.name}} {{driver.surname}}<br>
            {%endfor%}
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  </div>
</div>

<br>
<div class="row justify-content-md-center">
  <div class="container text-center">
  <div class="btn-group">
    <a class="btn btn-primary" href="{% url 'add-transport' %}">Добавить ТС</a>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddTrailer"
                data-bs-whatever="@mdo">Добавить прицеп
    </button>
  </div>
  </div>
</div>

<div class="modal fade" id="AddTrailer" tabindex="-1" aria-labelledby="TrailerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TrailerLabel">Введите данные:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                   {{ form|crispy }}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Вернуться</button>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





<br>
<br>
<br>

{% endblock %}
